html{
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(233, 233, 233);
  color:  #333;
  font-family: 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-size: 1.3em;
}

.container{
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.title{
  font-size: 4.4em;
  text-align: center;
}

.form{
  display: grid;
}

.label{
  font-size: 1.2em;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}

.input{
  font-size: 1.5em;
  padding: 0.5em 2em;
  line-height: 2em;
  border-radius: 20px;
  border: black 1px solid;
  margin-bottom: 1em;
}

.button{
  background-color: rgba(31, 29, 29, 0.842);
  opacity: 5;
  padding:  1em 2em;
  border: 1px solid darkgrey;
  border-radius: 20px;
  font-size: 1.4em;
  color: darkgrey;
  cursor: pointer;
  transition: 0.4s;
}

.button:hover{
  background-color: white;
  border: 2px solid;
  color: rgb(0, 0, 0);
}

.card{
  margin-top: 2em;
  padding: 1em 1em;
  border-radius: 10px;
  box-shadow: 1px 1px 5px lightgrey;
  margin-bottom: 2em;
  background-color: white;
}

.card--title{
  margin-bottom: 0.5em;
  font-size: 3,2em;
}

.card--image{
  margin: auto;
  display: block;
}

@media (min-width:786px){
  .form{
    grid-template-columns: auto 1fr auto;
    grid-gap: 1em;
    align-items: center;
  }

  .input{
    margin-bottom: 0;
  }

  .grid-container {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em 1em;
    grid-template-areas: ". . . ." ". . . ." ". . . .";
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
